main {
    background: #f5f5d2;
    border: 1px solid rgb(243, 245, 225);
    box-shadow: 1px 1px 1px 1px #ccc;
    margin: 25px 250px;
    padding: 50px;
    min-height: 100%;
}
main:before {
    content: '';
    background: #ececc6;
    border: 1px solid rgb(243, 245, 225);
    border: 1px solid rgb(243, 245, 225);
    transform: rotate(0.10deg);
    height: 150px;
    width: 150px;
    z-index: -25;
    top: 50;
    right: 175;
    position: absolute;
    border-radius: 5px;
}
/* Paper */
.paper {
    background: #fefefe;
    box-shadow: 1px 1px 1px 1px #ccc;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: 
        "summary summary summary slider"
        "personal personal work work"
        "social social social social";
    min-height: 100%;
}
/* Slider */
.slider {
    border: 15px solid #fff;
    box-shadow: 1px 1px 1px 1px #ccc;
    grid-area: slider;
    transform: rotate(-2deg);
    height: 450px;
    width: 300px;
}
.slider:hover {
    transform: rotate(1deg);
}
.profile {
    margin: 0 0;
	height: 100%;
	width: 100%;
    object-fit: cover;
}
.paperclip {
    position: absolute;
    top: 20;
    right: 350;
    z-index: 6;
    height: 100px;
}
/* Sections */
.work, .personal, .summary {
    padding: 25px;
}
.work {
    grid-area: work;
}
.personal {
    grid-area: personal;
}
.summary {
    grid-area: summary;
}
/* Social media */
.social-icons {
    grid-area: social;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.social-icons img {
    width: 50px;
    height: 50px;
    padding: 5px;
}
.message1 {
    height: 200px;
    width: 150px;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    position: absolute;
    top: 200;
    left: 50;
    transform: rotate(-5deg);
}
.message2 {
    height: 200px;
    width: 150px;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    position: absolute;
    top: 350;
    right: 50;
    transform: rotate(7deg);
}
.message3 {
    height: 200px;
    width: 150px;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    position: absolute;
    top: 700;
    left: 50;
    transform: rotate(7deg);
}
@media (min-width: 768px) and (max-width: 1024px) {
    main {
        margin: 0 0;
        padding: 25px;
    }
    .paper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "summary slider"
            "personal work"
            "social social";
    }
    /* Slider */
    .slider {
        height: 450px;
        width: 300px;
        transform: rotate(1deg);
        margin-left: 25px;
    }
    .paperclip {
        position: absolute;
        top: 20;
        right: 15%;
        z-index: 6;
        height: 100px;
    }
    .message1, .message2, .message3 {
        display: none;
    }
}
.footer {
    color: #888;
    margin-top: 10px;
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: #888;
}
.footer a:hover {
    color: pink;
}
@media (max-width: 767px) {
    main {
        margin: 0 0;
        padding: 25px;
    }
    .paper {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
            "slider"
            "summary"
            "personal"
            "work"
            "social";
    }  
    /* Sections */
    .work, .personal, .summary {
        padding-top: 15px;
        padding-bottom: 0px;
    }  
    /* Slider */
    .slider {
        margin: 0 auto;
    }
    .paperclip {
        position: absolute;
        top: 20;
        left: 15%;
        z-index: 6;
        height: 100px;
    }
    .message1, .message2, .message3 {
        display: none;
    }
}